@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-top-menu {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  pointer-events: all !important;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
          animation: swirl-in-fwd 0.6s ease-out both;
}

.swirl-in-fwd-menu {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
          animation: swirl-in-fwd 0.6s ease-out both;
  pointer-events: all !important;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
}
.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
          animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
.slide-out-bottom {
  -webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
}
.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-right-menu {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  pointer-events: none;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
}
.swirl-out-bck {
  -webkit-animation: swirl-out-bck 0.6s ease-in both;
          animation: swirl-out-bck 0.6s ease-in both;
}

@-webkit-keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

@keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
            transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}
.scale-out-hor-left {
  -webkit-animation: scale-out-hor-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-hor-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}

@keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}
.scale-out-hor-right {
  -webkit-animation: scale-out-hor-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-hor-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes scale-out-hor-right {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
.scale-out-ver-bottom {
  -webkit-animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 1;
  }
}

@keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    opacity: 1;
  }
}
.scale-out-ver-top {
  -webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-ver-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
}

@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    opacity: 1;
  }
}
.scale-out-vertical {
  -webkit-animation: scale-out-vertical 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-vertical 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-vertical {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
}

@keyframes scale-out-vertical {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
}
.scale-out-horizontal {
  -webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
}

@keyframes scale-out-horizontal {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
}
.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@-webkit-keyframes color-change {
  0% {
    color: #949494;
  }
  100% {
    color: #ffffff;
  }
}
@keyframes color-change {
  0% {
    color: #949494;
  }
  100% {
    color: #ffffff;
  }
}
@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
@-webkit-keyframes slider-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slider-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slider-fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slider-fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slider-fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slider-fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slider-fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slider-fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rotate-out-hor {
  -webkit-animation: rotate-out-hor 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: rotate-out-hor 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes rotate-out-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 0;
  }
}

@keyframes rotate-out-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 0;
  }
}
.rotate-in-hor {
  -webkit-animation: rotate-in-hor 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-in-hor 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes rotate-in-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1;
  }
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
#outer-footer {
  font-family: "Arial", Helvetica, sans-serif;
  background: #fff;
  border-top: 1px solid #eee;
  width: 100% !important;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px !important;
}

#outer-footer p {
  margin: 0;
}

#inner-footer-expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

#inner-footer-expert #footerLogo-Links {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  font-size: 17px;
  margin-left: 20px;
}

div#footer-bottom {
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 11px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  div#footer-bottom {
    width: 100%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  div#footer-bottom {
    width: 100%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #inner-footer-expert #footer-bottom .single-col {
    margin-bottom: 1em;
  }
}

#inner-footer-expert #footer-bottom .single-col .col.col-12 nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#inner-footer-expert #footer-bottom .single-col .col.col-12 {
  margin-bottom: 1em;
}

#inner-footer-expert #footer-bottom .single-col .col.col-12 nav ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*NEED AMEND*/
#inner-footer-expert #copyright-text {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 19px 0px 0px 20px;
}

#inner-footer-expert #footerLogo {
  margin: 10px 0px 0px 0px;
}

#inner-footer-expert p {
  color: #304a7f;
}

#inner-footer-expert span {
  color: #333;
}

#inner-footer-expert a {
  margin-right: 8px;
  color: #666;
  font-weight: normal;
}

#inner-footer-expert a:hover {
  text-decoration: none;
  color: #002776;
}

#inner-footer-expert #copyright-text {
  display: none;
}

html {
  overflow-x: hidden;
}
html body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
}
html body {
  font-size: 11px;
}
@media screen and (min-width: 320px) {
  html body {
    font-size: calc(11px + 5 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html body {
    font-size: 16px;
  }
}
html body.homepage {
  overflow: hidden;
}
html body header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(320px, calc(1468px + 2em)) 1fr;
  grid-template-columns: 1fr minmax(320px, calc(1468px + 2em)) 1fr;
  height: 112px;
  background-color: #ffffff;
  position: fixed;
  z-index: 35;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
}
html body header .inner-header {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
}
html body header .inner-header .logo {
  width: 70px;
  height: 70px;
}
html body header .inner-header .logo a img {
  width: 70px;
  height: 70px;
}
@media (max-width: 48em) {
  html body header {
    height: 72px;
  }
  html body header .inner-header .logo {
    width: 60px;
    height: 60px;
  }
  html body header .inner-header .logo a img {
    width: 60px;
    height: 60px;
  }
}
html body .mobile-nav .overlay {
  width: 100%;
  position: fixed;
  z-index: 30;
  left: 0;
  bottom: 0;
  top: 112px;
  background-color: #171717;
  overflow-y: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  opacity: 1;
  pointer-events: none;
  height: calc(100% - 112px);
}
@media (max-width: 48em) {
  html body .mobile-nav .overlay {
    top: 72px;
    height: calc(100% - 72px);
  }
}
html body .mobile-nav .overlay .overlay-content {
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
}
html body .mobile-nav .overlay .overlay-content nav {
  list-style: none;
}
html body .mobile-nav .overlay .overlay-content nav li {
  margin-bottom: 2em;
}
html body .mobile-nav .overlay .overlay-content nav li a {
  font-size: 2em;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
html body .mobile-nav .overlay .overlay-content nav li a:hover, html body .mobile-nav .overlay .overlay-content nav li a:focus {
  color: #ffffff;
}
html body .mobile-nav .overlay .overlay-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body .mobile-nav .hamburger {
  position: fixed;
  top: 46px;
  left: 1rem;
  cursor: pointer;
  z-index: 60;
  outline: none;
  border: 0;
  height: 27px;
  width: 50px;
  background-color: transparent;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body .mobile-nav .hamburger:after {
  content: "MENU";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0 auto 0.5em;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #171717;
}
@media (max-width: 48em) {
  html body .mobile-nav .hamburger {
    top: 30px;
  }
}
html body .mobile-nav .hamburger.men-active + .overlay {
  top: 112px;
  height: calc(100% - 112px);
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
}
@media (max-width: 48em) {
  html body .mobile-nav .hamburger.men-active + .overlay {
    top: 72px;
    height: calc(100% - 72px);
  }
}
html body .mobile-nav .hamburger.men-active + .overlay .overlay-content {
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
  transition: all 0.3s cubic-bezier(0.165, 0.63, 0.14, 0.82);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
html body .mobile-nav .hamburger-inner {
  background: #e6c300;
  display: block;
  height: 2px;
  width: 100%;
  margin-bottom: 6px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body .mobile-nav .hamburger-inner:before, html body .mobile-nav .hamburger-inner:after {
  background: rgba(69, 95, 174, 0.97);
}
html body .mobile-nav .hamburger-inner:first-child {
  width: 100%;
}
html body .mobile-nav .hamburger-inner:last-child {
  width: 100%;
}
@media (max-width: 48em) {
  html body .mobile-nav {
    display: block;
  }
}
html body.is-active {
  overflow: hidden;
}
html body.is-active .hamburger .hamburger-inner {
  background: #e6c300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
html body.is-active .hamburger .hamburger-inner:nth-of-type(1) {
  -webkit-transform: translate(0px, 5px) rotate(-45deg);
      -ms-transform: translate(0px, 5px) rotate(-45deg);
          transform: translate(0px, 5px) rotate(-45deg);
}
html body.is-active .hamburger .hamburger-inner:nth-of-type(2) {
  display: none;
}
html body.is-active .hamburger .hamburger-inner:nth-of-type(3) {
  -webkit-transform: translate(0px, -3px) rotate(45deg);
      -ms-transform: translate(0px, -3px) rotate(45deg);
          transform: translate(0px, -3px) rotate(45deg);
}
html body.is-active .hamburger .hamburger-inner:before, html body.is-active .hamburger .hamburger-inner:after {
  background: #fff;
}
html body.is-active .overlay {
  top: 112px;
  height: calc(100% - 112px);
}
@media (max-width: 48em) {
  html body.is-active .overlay {
    top: 72px;
    height: calc(100% - 72px);
  }
}
html body #home-hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  -ms-grid-rows: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
html body #home-hero .slider-wrapper {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);
  -ms-grid-rows: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 112px);
  margin-top: 112px;
  max-width: 100vw;
}
@media (max-width: 48em) {
  html body #home-hero .slider-wrapper {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
}
html body #home-hero .slider-wrapper picture {
  display: block;
  width: 100%;
  height: calc(100vh - 112px);
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}
html body #home-hero .slider-wrapper picture:nth-of-type(1) {
  -webkit-animation: slider-fade 28s infinite;
          animation: slider-fade 28s infinite;
}
html body #home-hero .slider-wrapper picture:nth-of-type(2) {
  -webkit-animation: slider-fade2 28s infinite;
          animation: slider-fade2 28s infinite;
}
html body #home-hero .slider-wrapper picture:nth-of-type(3) {
  -webkit-animation: slider-fade3 28s infinite;
          animation: slider-fade3 28s infinite;
}
html body #home-hero .slider-wrapper picture:nth-of-type(4) {
  -webkit-animation: slider-fade4 28s infinite;
          animation: slider-fade4 28s infinite;
}
@media (max-width: 48em) {
  html body #home-hero .slider-wrapper picture {
    height: calc(100vh - 72px);
  }
}
html body #home-hero .slider-wrapper picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body #home-hero .color-overlay {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-animation: fade-out 1s ease-out 5.5s both;
          animation: fade-out 1s ease-out 5.5s both;
}
@supports (mix-blend-mode: color) {
  html body #home-hero .color-overlay {
    mix-blend-mode: color;
    background: black;
  }
}
@supports not (mix-blend-mode: color) {
  html body #home-hero .color-overlay {
    opacity: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html body #home-hero .color-overlay {
    opacity: 0;
  }
}
html body #home-hero .slide-away {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  z-index: 3;
  width: 100%;
  height: calc(100vh - 112px);
  margin-top: 112px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  -ms-grid-rows: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-column-gap: 0;
  grid-row-gap: 0;
}
@media (max-width: 48em) {
  html body #home-hero .slide-away {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
}
html body #home-hero .slide-away .slide {
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body #home-hero .slide-away .slide:nth-of-type(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-animation: scale-out-hor-right 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 4.5s both;
          animation: scale-out-hor-right 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 4.5s both;
}
html body #home-hero .slide-away .slide:nth-of-type(1) .text {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.75s both;
}
html body #home-hero .slide-away .slide:nth-of-type(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-animation: scale-out-ver-bottom 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 4.75s both;
          animation: scale-out-ver-bottom 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 4.75s both;
}
html body #home-hero .slide-away .slide:nth-of-type(2) .text {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}
html body #home-hero .slide-away .slide:nth-of-type(3) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  -webkit-animation: scale-out-ver-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 5.25s both;
          animation: scale-out-ver-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 5.25s both;
}
html body #home-hero .slide-away .slide:nth-of-type(3) .text {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.25s both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.25s both;
}
html body #home-hero .slide-away .slide:nth-of-type(4) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  -webkit-animation: scale-out-hor-left 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 5s both;
          animation: scale-out-hor-left 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) 5s both;
}
html body #home-hero .slide-away .slide:nth-of-type(4) .text {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s both;
}
html body #home-hero .slide-away .slide .text {
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
html body #home-hero .slide-away .slide .text span {
  -webkit-animation: fade-out 0.5s ease-out 3s both;
          animation: fade-out 0.5s ease-out 3s both;
}
html body #home-hero .center-text {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  z-index: 4;
  width: 100%;
  height: calc(100vh - 112px);
  margin-top: 112px;
  pointer-events: none;
}
@media (max-width: 48em) {
  html body #home-hero .center-text {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
}
html body #home-hero .center-text .text-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}
html body #home-hero .center-text .text-box .heading {
  pointer-events: all;
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: #949494;
  border: 2px solid #171717;
  padding: 0.75em 1.5em;
  -webkit-animation: rotate-out-hor 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3.75s both;
          animation: rotate-out-hor 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3.75s both;
}
html body #home-hero .center-text .text-box .heading span {
  color: #ffffff;
  -webkit-animation: color-change 1s ease-in-out 1.75s both;
          animation: color-change 1s ease-in-out 1.75s both;
}
html body #home-hero .center-text .horizontal-line {
  width: 100%;
  height: 2px;
  background: #171717;
  position: absolute;
  top: calc(50% - 1px);
  z-index: inherit;
  -webkit-animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
          animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
}
html body #home-hero .center-text .vertical-line {
  width: 2px;
  height: 100%;
  background: #171717;
  position: absolute;
  left: calc(50% - 1px);
  z-index: inherit;
  -webkit-animation: scale-out-vertical 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
          animation: scale-out-vertical 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
}
html body #home-hero .strapline {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  z-index: 5;
  width: 100%;
  height: calc(100vh - 112px);
  margin-top: 112px;
  pointer-events: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(calc(320px - 4rem), calc(1468px + 4rem)) 1fr;
  grid-template-columns: 1fr minmax(calc(320px - 4rem), calc(1468px + 4rem)) 1fr;
  -ms-grid-rows: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
@media (max-width: 48em) {
  html body #home-hero .strapline {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
}
html body #home-hero .strapline .strapline-wrapper {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body #home-hero .strapline .strapline-wrapper .strapline-center {
  width: 100%;
  max-width: 500px;
  pointer-events: all;
}
html body #home-hero .strapline .strapline-wrapper .strapline-center h1 {
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 2.5em;
  font-size: clamp(21px, 3vw, 2.5em);
  color: #e6c300;
  margin-bottom: 0.125em;
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 6.75s both;
          animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 6.75s both;
}
html body #home-hero .strapline .strapline-wrapper .strapline-center p {
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2em;
  font-size: clamp(16px, 2vw, 1.2em);
  color: #ffffff;
  line-height: 1.2;
  -webkit-animation: fade-in 0.5s ease-out 7s both;
          animation: fade-in 0.5s ease-out 7s both;
}
html body #home-hero .strapline .strapline-wrapper .strapline-center a {
  display: inline-block;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: #949494;
  border: 2px solid #171717;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: rotate-in-hor 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 7.25s both;
          animation: rotate-in-hor 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 7.25s both;
}
html body #home-hero .strapline .strapline-wrapper .strapline-center a:hover, html body #home-hero .strapline .strapline-wrapper .strapline-center a:focus, html body #home-hero .strapline .strapline-wrapper .strapline-center a:focus-visible {
  background: #171717;
  color: #e6c300;
}
html body #contact-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(calc(320px - 4rem), calc(1468px + 4rem)) 1fr;
  grid-template-columns: 1fr minmax(calc(320px - 4rem), calc(1468px + 4rem)) 1fr;
  -ms-grid-rows: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}
html body #contact-page .contact-section {
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(100vh - 112px);
  margin-top: 112px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 48em) {
  html body #contact-page .contact-section {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
}
html body #contact-page .contact-section .content-wrapper {
  background: rgba(255, 255, 255, 0.8);
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
  width: 100%;
}
html body #contact-page .contact-section .content-wrapper h1 {
  font-family: "Raleway", sans-serif;
  color: #171717;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}
html body #contact-page .contact-section .content-wrapper .form-container {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body #contact-page .contact-section .content-wrapper .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
html body #contact-page .contact-section .content-wrapper .form-container form label {
  color: #ffffff;
  background: #171717;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
}
html body #contact-page .contact-section .content-wrapper .form-container form input, html body #contact-page .contact-section .content-wrapper .form-container form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1em;
  border: 2px solid #171717;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}
html body #contact-page .contact-section .content-wrapper .form-container form input:focus, html body #contact-page .contact-section .content-wrapper .form-container form input:focus-visible, html body #contact-page .contact-section .content-wrapper .form-container form textarea:focus, html body #contact-page .contact-section .content-wrapper .form-container form textarea:focus-visible {
  border: 2px solid #e6c300;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  outline: none;
}
html body #contact-page .contact-section .content-wrapper .form-container form input {
  padding: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body #contact-page .contact-section .content-wrapper .form-container form input[type=submit] {
  background: #949494;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-family: "Raleway", sans-serif;
}
html body #contact-page .contact-section .content-wrapper .form-container form input[type=submit]:hover, html body #contact-page .contact-section .content-wrapper .form-container form input[type=submit]:focus, html body #contact-page .contact-section .content-wrapper .form-container form input[type=submit]:focus-visible {
  background: #171717;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
html body #contact-page .contact-section .content-wrapper .form-container form textarea {
  margin-top: -1px;
  height: 60px;
}
html body #contact-page .lines {
  -ms-grid-column: 1;
  grid-column: 1/span 3;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-span: 3;
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 112px);
  margin-top: 112px;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #171717;
}
@media (max-width: 48em) {
  html body #contact-page .lines {
    height: calc(100vh - 72px);
    margin-top: 72px;
  }
}
html body #contact-page .lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
html body #contact-page .lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 195, 0, 0)), color-stop(75%, #e6c300), to(#e6c300));
  background: linear-gradient(to bottom, rgba(230, 195, 0, 0) 0%, #e6c300 75%, #e6c300 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
html body #contact-page .lines .line:nth-child(1) {
  margin-left: -25%;
}
html body #contact-page .lines .line:nth-child(1):after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
html body #contact-page .lines .line:nth-child(3) {
  margin-left: 25%;
}
html body #contact-page .lines .line:nth-child(3):after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
html body .hero-section {
  margin-top: 112px;
}
@media (max-width: 48em) {
  html body .hero-section {
    margin-top: 72px;
  }
}

#___gatsby, #gatsby-focus-wrapper {
  width: 100%;
  overflow: hidden;
}